{{#partial "content"}}
    <h2>Hike list</h2>

    {{#if hikes}}
        {{#each hikes}}
            <h3>Current hike:</h3>
            <p><strong> Hike Name:</strong> {{name}}</p>
            <p><strong>Hike Length:</strong> {{hikeLength}} miles</p>
            <p><strong>State:</strong> {{state}}</p>
            <p><a href="/hikes/{{id}}">Read more</a></p>
        {{/each}}
    {{else}}
        <p>There are No current Hikes to display!</p>
    {{/if}}
    <hr>

    <h2>Visitor List</h2>

    {{#if visitors}}
        {{#each visitor}}
            <h3>Current Visitors:</h3>
            <p><strong> Visitor Name:</strong> {{name}}</p>
            <p><a href="/visitors/{{id}}">See Detail</a></p>
        {{/each}}
    {{else}}
        <p>There are no visitors registered yet!</p>
    {{/if}}

{{/partial}}

{{> layout.hbs}}
